body {
    margin: 0;
    font-family: 'Segoe UI';
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
}

h1 {
    text-align: center;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px;
    gap: 20px;
}

.card {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    padding: 20px;
    border-radius: 15px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #00c6ff;
    border: none;
    border-radius: 8px;
    color: white;
}

.login-container {
    width: 300px;
    margin: 150px auto;
    text-align: center;
}

.safe { color: #00ff9d; }
.fraud { color: #ff4d4d; }